[Desktop Entry]
Encoding=UTF-8
Name=Quick
Comment=Quick P2P Cryptocurrency
Comment[fr]=Quick, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Quick, eşten eşe kriptografik sanal para birimi
Exec=quick-qt %u
Terminal=false
Type=Application
Icon=quick128
MimeType=x-scheme-handler/quick;
Categories=Office;Finance;
